/* Form.css */
body{
    justify-content: center;
    /* background: linear-gradient(200deg, #71b7e6, #9b59b6); */
  }
  form {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
   background-color: white
  }
  
  form div {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    margin: 10px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
  }
  button{
    color:black;
  }
  
  button:hover {
    background-color: #5345a0;
  
  }
  